

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px
}

.button {
    background-color: burlywood;
    color:cornflowerblue;
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }